

$brand:#005596;
$text:#000;
$yellow:#f26f33;

body {
	background-color: #fff;
	font-family: 'Myriad Pro';
	font-size: 16px;
	color: $text;
	font-weight: 400;
	padding: 0;
	margin: 0;
	width: 100%;
}
*{
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
}
.loby-background{
	height: 100vh;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	img{
		height: 100vh;
		width: 100%;
		position: fixed;
		object-fit: cover;
		left: 0;
		top: 0;
	}
}
.menu-body{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	.menu-content{
		width: 1524px;
		margin: auto;
		position: relative;
		display: flex;
	}
}
.mind-menu{
	width: 100%;
	display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
	background: url(../images/mind-sidebar.png) repeat-x center top;
	height: 95px;
	nav{
		text-align: center;
		display: inline-block;
	width: 100%;
		ul{
			display: flex;
	width: 100%;
			justify-content: space-between;
			margin-bottom: 0;
			li{
				list-style: none;
				a{
					display: inline-block;
					width: 100%;
					text-align: center;
					img{
						&.menu-icon-default{
							display: initial;
						}
						&.menu-icon-active{
							display: none;
						}
					}
					span{
						display: inline-block;
						width: 100%;
						color: $text;
					}
				}
				&:hover, &.active{
					img{
						&.menu-icon-default{
							display: none;
						}
						&.menu-icon-active{
							display: initial;
						}
					}
					span{
						color: white;
					}
				}
			}
		}
	}
}
#trienlam, #gioithieu-platform, #lichtrinh{
	.modal-content{
		padding-right: 0px !important;
	}
	.scrollbar, .title-popup, .title-popup-sub, .button-back, .nav.nav-tabs.row, .search-popup-body{
		padding-right: 108px;
	}
}
.container-hoitruong{
	padding-right: 0 !important;
	.scrollbar{
		padding-right: 39px;
	}
}

.body-trienlam{
	width: 100%;
	position: absolute;
	height: 100vh;
	left: 0;
	top: 0;
	display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
	.content-trienlam{
		display: inline-block;
		width: 100%;
		margin-top: -80px;
		a{
			border-radius: 4px;
			display: inline-block;
			width: 100%;
			background: white;
			margin-bottom: 30px;
			text-align: center;
			padding-bottom: 16px;
			text-decoration: none;
			overflow: hidden;
			img{
				width: 100%;
			}
			span{
				text-transform: uppercase;
				font-size: 16px;
				text-decoration: none;
				color: $text;
			}
		}
	}
	h1{
		font-weight: 600;
		font-size: 40px;
		display: inline-block;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		color: #ffe932;
		margin-bottom: 40px;
	}
	button{
		outline: none;
		top: 45% !important;
		background-size: cover !important;
		&.owl-next{
			background: url(../images/next-icon.png) no-repeat center top !important;
			width: 37px;
			height: 68px;
			position: absolute;
    		right: -70px;
			display: inline-block !important;
		}
		&.owl-prev{
			background: url(../images/back-icon.png) no-repeat center top !important;
			width: 37px;
			height: 68px;
			display: inline-block !important;
			position: absolute;
    		left: -70px;
		}
		span{
			display: none;
		}
	}
	.owl-dots{
		button{
			&.active{
				span{
					background: $yellow !important;
				}
			}
		}
	}
}
.trienlam-slide{
	width: 1200px;
	margin: auto;
}
.head-top{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	.button-sign-in{
		position: fixed;
		right: 50px;
		top: 25px;
		height: 50px;
		color: $brand;
		border: 1px solid $brand;
		border-radius: 40px;
		padding: 13px 30px;
		background: white;
		&.logined{
			background: none !important;
			border: 0 !important;
			height: initial !important;
			border-radius: 0 !important;
			padding: 0 !important;
			p{
				font-size: 20px;
				color: white;
			}
		}
		
		a{
			color: $brand;
			padding: 0 5px;
		}
	}
	.logo{
		position: fixed;
		left: 50px;
		top: 25px;
		img{
			width: 90px;
		}
	}
}
.btn-show-hoitruong{
	outline: none !important;
}
.item-trienlam{
	.row{
		.col-md-trienlam{
			width: 20% !important;
			padding: 5px 10px;
			max-width: 20% !important;
			a{
				border-radius: 4px;
				overflow: hidden;
			}
		}
		&:nth-last-child(1){
			a{
				margin-bottom: 0 !important;
			}
		}
	}
}
.content-editor-trienlam{
	text-align: center;
	img{
		max-width: 100%;
		margin-bottom: 15px;
	}
}

.switch-box{
	position: fixed;
	bottom: 30px;
	right: 44px;
	display: flex;
	z-index: 99;
	label{
		margin: 3px 5px;
	}
	b{
		color: white;
		&.active{
			color: $yellow;
		}
	}
}
#hoitruong-lich-ctr{
	.list-news {
		padding-left: 145px;
		position: relative;
		margin-bottom: 0px;
	}
	.scrollbar {
		height: 751px;
	}
	button{
		outline: none;
		box-shadow: none;
		text-shadow: none !important;
		i{
			text-shadow: none !important;
			color: white;
		}
	}
	.modal-dialog{
		max-width: 1600px !important;
		width: 1600px !important;
		margin-top: -55px;
		background: none;
	.modal-content{
		background: rgba(0, 0, 0, 0.8);
		padding: 30px 80px;
		display: inline-block;
		text-align: center;
		width: 100%;
		
	}
	h1{
		font-weight: normal;
		color: #ffe932;
		font-size: 30px;
		margin-bottom: 30px;
	}
	.list-news{
		a, label{
			color: white;
			text-align: left;
		}
		span{
			float: left;
		}
	}
	}
	#style-1::-webkit-scrollbar-track
	{
		border-radius: 0px;
		background: none !important;
	}

	#style-1::-webkit-scrollbar
	{
		width: 6px;
		background: none !important;
	}

}
/*--switch--*/
.switch {
	position: relative;
	display: inline-block;
	width: 44px;
	height: 17px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 19px;
    width: 19px;
    left: -1px;
    bottom: -1px;
	background-color: #005f69;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #fff;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #fff;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  

  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  /* end switch*/
.chatbox{
	position: fixed;
	bottom: 70px;
	right: 50px;
	img{
		cursor: pointer;
	}
}
.modal{
    &.show{
		display: flex !important;
		align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
	}
	
}
.title-popup{
	h1{
		display: inline-block;
		width: 100%;
		text-align: center;
		font-weight: bold;
		color: $brand;
		font-size: 35px;
		text-transform: uppercase;
	}
	p{
		font-size: 16px;
		text-align: center;
	}
}
.title-popup-sub{
	display: inline-block;
		width: 100%;
		
		display: flex !important;
		align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
	h1{
		height: 54px;
	background: $brand;
	display: inline-block;
		display: inline-block;
		border-radius: 100px;
		width: 100%;
		text-align: center;
		margin-bottom: 0;
		color: white;
		font-size: 18px;
		padding-top: 17px;
	}
	margin-bottom: 40px;
}
.body-content-popup{
	p{
		display: inline-block;
		width: 100%;
		text-align: center;
		line-height: 26px;
	}
}
.button-back{
	position: absolute;
    bottom: -88px;
    width: 100%;
    text-align: center;
    left: 0;
	button{
		outline: none;
		opacity: 1 !important;
		display: inline-block;
		width: 100%;
		text-align: center;
		img{
			width: 90px;
		}
	}
}

.scrollbar
{
	height: 487px;
	width: 100%;
    margin: auto;
	overflow-y: auto;
}

#wrapper
{
	text-align: center;
	width: 100%;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: #fff;
}

#style-1::-webkit-scrollbar
{
	width: 6px;
	background-color: #fff;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 40px;
	background-color: #cccccc;
}
#lichtrinh{
	.row{
		margin: 0 !important;
		margin-left: -10px !important;
		margin-right: -10px !important;
	}
	.search-popup{
		margin-bottom: 34px !important;
	}
	.tab-content{
		display: inline-block;
		width: 100%;
		margin-top: 30px;
	}
	ul{
		border: 0;
		margin-bottom: 30px;
		width: 100%;
		li{
			padding: 0 5px !important;
			a{
				height: 55px;
	background: white;
	display: inline-block;
	text-align: center;
	border: 1px solid $brand;
		width: 100%;
		border-radius: 100px;
		display: flex !important;
		align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
			span{
				display: inline-block;
				width: 100%;
				text-align: center;
				margin-bottom: 0;
				color: $brand;
				font-size: 18px;
			}
			&.active{
				background: $brand !important;
				span{
					color: white;
				}
			}	
			}
			
		}
	}
	.scrollbar {
		height: 476px !important;
	}
}
.list-chuongtrinh{
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
	.infor-lichtrinh{
		text-align: left;
		a{
			color: white !important;
		}
	}
	.time-lichtrinh{
		img{
			margin-top: 6px !important;
		}
	}
	h2{
		text-transform: uppercase;
		color: #ffd200;
		font-size: 25px;
		margin-bottom: 26px;
		button{
			background: none;
			border: 0;
			margin-top: 3px;
			float: right;
		}
		span{
			font-size: 16px;
			float: right;
			color: #12caff;
			i{
				font-size: 12px;
				color: #12caff;
			}
		}
	}
}
.infor-hoitruong{
	background: rgba(0, 0, 0, 0.8);
	padding: 34px;
	display: inline-block;
	text-align: center;
	width: 100%;
	h2{
		a{
			color: white;
			font-size: 30px;
		}
	}
	span{
		display: inline-block;
		width: 100%;
		color: #919191;
		font-size: 25px;
	}
}
.list-chuongtrinh{
	margin-bottom: 30px;
}
.item-hoitruong-lager{
	display: inline-block;
	width: 100%;
	.avatar-hoitruong{
		a{
			position: relative;
			padding-top:74%;
			overflow: hidden;
			display: block;
			border-radius: 4px 4px 0 0;
		}
		img{
			margin-top: 7px;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
}.title-popup h1 {
    font-size: 24px;
}
.btn-join{
	height: 49px;
	width: 203px;
	background: #03b621;
	display: inline-block;
	margin: auto;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	border-radius: 4px;
	font-size: 20px;
	color: white;
	padding-top: 10px;
	margin-bottom: 26px;
	text-decoration: none;
	&:hover{
		color: white !important;
	}
}
.hoitruong-body{
	width: 100%;
	position: absolute;
	height: 100vh;
	left: 0;
	top: 0;
	display: flex;
	align-content: center;
	-ms-flex-pack: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	transition: all .3s ease-in-out;
	
	.hoitruong-content{
		display: inline-block;
		width: 1280px;
		margin: auto;
		margin-top: 60px;
		img{
			margin-top: 0 ;
		}
	}
}

 


.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: 2s;
 }
 .animated-fat {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: 0s;
 }
 @-webkit-keyframes fadeInRight {
	0% {
	   opacity: .5;
	   -webkit-transform: translateX(-800px);
	}
	100% {
	   opacity: 1;
	   -webkit-transform: translateX(0);
	}
 }
 
 @keyframes fadeInRight {
	0% {
	   opacity: .5;
	   transform: translateX(-800px);
	}
	100% {
	   opacity: 1;
	   transform: translateX(0);
	}
 }
 
 .fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
 }





 
 .blur-bg{
	-webkit-animation-name: blur-bg;
	animation-name: blur-bg;
	opacity: 1;
 }
 .animated-hoitruong {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
 }

 @-webkit-keyframes blur-bg{
	0% {
	   opacity: 1;
	}
	60% {
		opacity: .7;
	 }
	100% {
	   opacity: 0;
	}
 }
 
 @keyframes blur-bg {
	0% {
		opacity: 1;
	 }
	 60% {
		opacity: .7;
	 }
	 100% {
		opacity: 0;
	 }
 }


















 @-webkit-keyframes fadeInLeft{
	0% {
	   opacity: .5;
	   -webkit-transform: translateX(800px);
	}
	100% {
	   opacity: 1;
	   -webkit-transform: translateX(0);
	}
 }
 
 @keyframes fadeInLeft {
	0% {
	   opacity: .5;
	   transform: translateX(800px);
	}
	100% {
	   opacity: 1;
	   transform: translateX(0);
	}
 }
 
 .fadeInUp{
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
 }
/*--fadeInUp--*/
 @-webkit-keyframes fadeInUp{
	0% {
		opacity: 0;
		bottom: -1000px;
	 }
	 50% {
		 opacity: .5;
		 bottom: -500px;
	  }
	 100% {
		opacity: 1;
		bottom: 0;
	 }
 }
 
 @keyframes fadeInUp {
	0% {
	   opacity: 0;
	   bottom: -1000px;
	}
	50% {
		opacity: .5;
		bottom: -500px;
	 }
	100% {
	   opacity: 1;
	   bottom: 0;
	}
 }
 
 .fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
 }


 /*--hide right--*/

 @-webkit-keyframes hide-right {
	0% {
	   opacity: 1;
	   -webkit-transform: translateX(0);
	}
	100% {
	   opacity: .5;
	   -webkit-transform: translateX(800px);
	}
 }
 
 @keyframes hide-right {
	0% {
	   opacity: 1;
	   transform: translateX(0px);
	}
	100% {
	   opacity: .5;
	   transform: translateX(800px);
	}
 }
 
 .hide-right {
	-webkit-animation-name: hide-right;
	animation-name: hide-right;
 }



 /*--hide right move--*/

 @-webkit-keyframes hide-right-move {
	0% {
	   opacity: 1;
	   -webkit-transform: translateX(0);
	}
	100% {
	   opacity: .5;
	   -webkit-transform: translateX(-800px);
	}
 }
 
 @keyframes hide-right-move {
	0% {
	   opacity: 1;
	   transform: translateX(0px);
	}
	100% {
	   opacity: .5;
	   transform: translateX(-800px);
	}
 }
 
 .hide-right-move {
	-webkit-animation-name: hide-right-move;
	animation-name: hide-right-move;
 }

 /*--hide left--*/
 @-webkit-keyframes hide-left {
	0% {
	   opacity: 1;
	   -webkit-transform: translateX(0);
	}
	100% {
	   opacity: .5;
	   -webkit-transform: translateX(-800px);
	}
 }
 
 @keyframes hide-left {
	0% {
	   opacity: 1;
	   transform: translateX(0px);
	}
	100% {
	   opacity: .5;
	   transform: translateX(-800px);
	}
 }
 
 .hide-left {
	-webkit-animation-name: hide-left;
	animation-name: hide-left;
 }





 /*--show model popup--*/


 .animated-popup {
	-webkit-animation-duration: 3.6s;
	animation-duration: 3.6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
 }
 @-webkit-keyframes  popup-modal {
	0% {
	   opacity: 0;
	   -webkit-transform: translateX(0) ;
	}
	60% {
		opacity: 0;
		-webkit-transform: translateX(0) ;
	 }
	100% {
	   opacity: 1;
	   -webkit-transform: translateX(0) ;
	}
 }
 
 @keyframes  popup-modal {
	0% {
		opacity: 0;
		-webkit-transform: translateX(0) ;
	 }
	 60% {
		opacity: 0;
		-webkit-transform: translateX(0) ;
	 }
	 100% {
		opacity: 1;
		-webkit-transform: translateX(0) ;
	 }
 }
 
 .popup-moda {
	-webkit-animation-name: popup-moda;
	animation-name: popup-moda;
	visibility: initial !important;
 }
 






 /*--show hoi truong animation--*/
 .animated2 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
 }
 @-webkit-keyframes  hoitruong-animation {
	0% {
	   opacity: 0;
	   -webkit-transform: translateX(0) ;
	}
	70% {
		opacity: 0;
		-webkit-transform: translateX(0) ;
	 }
	100% {
	   opacity: 1;
	   -webkit-transform: translateX(0) ;
	}
 }
 
 @keyframes  hoitruong-animation {
	0% {
		opacity: 0;
		-webkit-transform: translateX(0) ;
	 }
	 70% {
		 opacity: 0;
		 -webkit-transform: translateX(0) ;
	  }
	 100% {
		opacity: 1;
		-webkit-transform: translateX(0) ;
	 }
 }
 
 .hoitruong-animation {
	-webkit-animation-name: hoitruong-animation;
	animation-name: hoitruong-animation;
	visibility: initial !important;
 }



.modal-letann-customm{
	opacity: 0;
    visibility: hidden;
}
.content-hoitruong-show{
	position: fixed;
	width: 100%;
	left: 0;
	visibility: hidden;
	height: 100%;
	opacity: 0;
    overflow: hidden;
	display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
}
.content-hoitruong-show{
	.scrollbar {
		height: 607px;
		.infor-lichtrinh{
			a{
				color: white;
			}
		}
	}
}

/*--letan popup --*/
.animated3 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
 }
@-webkit-keyframes  letan-pọpup-show {
	0% {
	   opacity: 0;
	   -webkit-transform: translateX(0) ;
	}
	100% {
	   opacity: 1;
	   -webkit-transform: translateX(0) ;
	}
 }
 
 @keyframes  letan-pọpup-show {
	0% {
		opacity: 0;
		-webkit-transform: translateX(0) ;
	 }
	 100% {
		opacity: 1;
		-webkit-transform: translateX(0) ;
	 }
 }
 .letan-popup-show{
	-webkit-animation-name: letan-pọpup-show;
	animation-name: letan-pọpup-show;
	visibility: initial !important;
	opacity: 1;
 }

.block-popup{
	opacity: 1 !important;
	visibility: initial !important;
	transition: all 1s ease-in-out;
	z-index: 999;
}


/*--model left--*/
@-webkit-keyframes  model-left {
	0% {
	   opacity: 0;
	   -webkit-transform: translateX(600px) ;
	}
	100% {
	   opacity: 1;
	   -webkit-transform: translateX(0) ;
	}
 }
 
 @keyframes  model-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(600px) ;
	 }
	 100% {
		opacity: 1;
		-webkit-transform: translateX(0) ;
	 }
 }
 
 .model-left{
	-webkit-animation-name: model-left;
	animation-name: model-left;
	
 }

 .animated-model {
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
 }






















.button-close{
	position: absolute;
	right: 30px;
	cursor: pointer;
	outline: none;
    top: 20px;
	i{
		color: white;
		font-size: 30px;
	}
}
.container-hoitruong{
	position: relative;
	max-width: 1280px;
	background: rgba(0, 0, 0, 0.8);
	margin: auto !important;
    width: 100% !important;
    padding: 40px 39px;
    border-radius: 4px;
    margin-top: 60px !important;
	h1{
		font-weight: normal;
		color: #ffe932;
		font-size: 30px;
		margin-bottom: 30px;
	}
	.list-news{
		a, label{
			color: white;
			text-align: left;
		}
		span{
			float: left;
		}
	}
	#style-1::-webkit-scrollbar-track
	{
		border-radius: 0px;
		background: none !important;
	}

	#style-1::-webkit-scrollbar
	{
		width: 6px;
		background: none !important;
	}
}

.hoitruong-small{
	.infor-hoitruong{
		padding: 15px !important;
		h2{
			text-align: left;
			a{
				font-size: 20px;
				text-align: left;
			}
		}
		.time-hoitruong{
			img{
				float: left;
				margin: 2px 5px  0 0 !important;
			}
			span{
				float: left;
				width: initial !important;
				font-size: 20px !important;
			}
		}
	}
	label{
		color: #f26f33;
		font-size: 16px;
		display: inline-block;
		width: 100%;
		text-align: left;
		font-style: italic;
	}
	.avatar-hoitruong{
		a{
			padding-top: 32% !important;
		}
	}
}
.list-news{
	padding-left: 145px;
	position: relative;
	margin-bottom: 25px;
	.avatar-lichhtrinh{
		width: 121px;
		position: absolute;
		left: 0;
		top: 0;
		a{
			position: relative;
			padding-top: 66%;
			display: block;
			border-radius: 4px;
		}
		img{
			margin-top: 7px;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
	.infor-lichtrinh{
		position: relative;
		display: inline-block;
		width: 100%;
		span{
			font-size: 16px;
			color: #00d323;
			font-style: italic;
		}
		a{
			color: $text;
			display: inline-block;
			width: 100%;
			&:hover{
				color: $brand;
			}
		}
		.time-lichtrinh{
			display: flex;
			img{
				margin-right: 5px;
				width: 13px;
				height: 13px;
				margin-top: 3px;
			}
			label{
				color: #919191;
				font-size: 16px;
				margin-bottom: 0;
			}
		}
	}
}
.mobile-icon{
	display: none;
}
.hoitruong-content{
	.row{
		overflow: hidden;
	}
	.col-md{
		.list-news{
			margin-bottom: 5px !important;
		}
		.list-chuongtrinh{
			margin-top: 7px !important;
		}
	}
}
.le-model{
	position: fixed;
	bottom: 0;
	margin-left: -632px;
	transition: all .4s ease-in-out;
}
.block-popup{
	.le-model{
		margin-left: -232px;
	}
}
.le-model-right{
	transition: all .5s ease-in-out;
}
.le-model-right{
	position: fixed;
	bottom: 0;
	margin-left: 1352px;
}
.block-popup{
	.le-model-right{
		margin-left: 800px;
	}
}
a{
	text-decoration: none !important;
}
.link-nav{
	ul{
		margin-bottom: 0;
		li{
			list-style: none;
			height: 52px;
			border-radius: 100px;
			width: 100%;
			margin-top: 30px;
			border: 1px solid $brand;
			display: flex;
			align-content: center;
			-ms-flex-pack: center !important;
			-ms-flex-align: center !important;
			align-items: center !important;
			transition: all .3s ease-in-out;
			a{
				width: 100%;
				font-size: 18px;
				color: $brand;
				text-align: center;
				text-decoration: none;
				display: inline-block;
			}
		}
	}
}
.search-popup{
	display: inline-block;
	position: relative;
	margin-top: 20px;
	margin-bottom: 112px;
	width: 100%;
	padding-right: 30px;
	border-bottom: 1px solid #7f7f7f;
	i{
		position: absolute;
		right: 0;
		top: 0;
		font-size: 20px;
		color: #000;
	}
	input{
		height: 30px;
		display: inline-block;
		width: 100%;
		border: 0;
		background: none;
	}
}
.comming-soon{
	color: $yellow !important;
}
.modal{
	.modal-dialog{
		max-width: 870px;
		width: 870px;
		position: relative;
		background: white;
		border-radius: 10px !important;
		.modal-content{
			border: 0;
			border-radius: 10px !important;
			box-shadow: none;
			padding:40px 118px ;
			.modal-header{
				padding: 0;
				border: 0;
				h4{
					float: left;
				}
				button{
					position: absolute;
					right: 22px;
					outline: none;
					top: 22px;
					z-index: 99;
					&:hover{
						color: $brand;
					}
				}
			}
		}
		.modal-body{
			padding: 0;
		}
	}
}
.modal-letann-customm{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
	&::before{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background: #000;
		opacity: .7;
		display: inline-block;
		content: '';
		height: 100%;
	}
	.modal-dialog{
		max-width: 870px;
		width: 870px;
		position: relative;
		background: white;
		border-radius: 10px !important;
		.modal-content{
			border: 0;
			border-radius: 10px !important;
			box-shadow: none;
			padding:40px 118px ;
			.modal-header{
				padding: 0;
				border: 0;
				h4{
					float: left;
				}
				button{
					position: absolute;
					right: 22px;
					outline: none;
					top: 22px;
					z-index: 99;
					&:hover{
						color: $brand;
					}
				}
			}
		}
		.modal-body{
			padding: 0;
		}
	}
}
#video-id{
	button{
		opacity: 1 !important;
		i{
			text-shadow: none;
			color: white !important;
		}
	}
}
.sanhchinh{
	position: fixed;
		left: 45px;
		bottom: 24px;
		top: inherit;
		a{
			text-decoration: none;
			&:hover{
				i, span{
					color: yellow;
				}
			}
		}
	a{
		display: flex;
		width: 110px;
		i{
			margin-top: 3px !important;
		}
		i, span{
			color: white;
			font-size: 16px;
			margin-right: 5px;
		}
	}
}
.owl-theme .owl-dots .owl-dot span {
    background: #ffffff;
}
#dangnhap, #dangky{
	.modal-content{
		padding: 0 !important;
		margin-bottom: 0;
		background: none !important;
		box-shadow: none;
	}
	.modal-dialog{
		box-shadow: none;
		max-width: 553px;
		border-radius: 4px;
		width: 553px;
		form{
			input{
				height: 50px;
				text-align: center;
				border-radius: 100px;
				padding: 5px 20px;
				font-size: 16px;
				border: 1px solid #7f7f7f;
			}
		}
		.content-login{
			padding: 50px 80px;
		}
	}
	.form-group{
		margin-bottom: 20px;
	}
}
.social-div{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 30px 0 0 0;
	img{
		margin: 0 10px;
	}
}
.signup-box{
	display: inline-block;
	width: 100%;
	margin-top: 30px;
	a{
		text-align: center;
		text-decoration: none;
		&.link-question{
			display: inline-block;
			width: 100%;
			color: $text;
			&:hover{
				color: $brand;
			}
		}
		&.signup-btn{
			height: 54px;
			width: 100%;
			display: inline-block;
			border: 1px solid $brand;
			text-align: center;
			font-size: 16px;
			margin-top: 30px;
			border-radius: 100px;
			text-transform: uppercase;
			font-weight: 600;
			padding-top: 15px;
			color: $brand;
			&:hover{
				background: $brand;
				color: white;
			}
		}
	}
}
.btn-action{
	height: 55px;
	width: 100%;
	border-radius: 100px;
	background: $brand;
	text-transform: uppercase;
	color: white;
	font-size: 16px;
	margin: auto;
    display: inherit;
	border: 0;
	&:hover{
		background: #016bbd;
	}
}
#video-id{
	
	.content-video{
		iframe{
			width: 100%;
			height: 610px;
		}
	}
	.modal-dialog{
		max-width: 1077px;
		width: 1077px;
		background: none !important;
		.modal-content{
			padding: 0 !important;
			margin-bottom: 0;
			background: none !important;
		}
	}
	button{
		position: fixed;
		top: 38px !important;
		right: 38px !important;
	}
}

@media only screen and (max-width: 1700px) {
	.hoitruong-content{
		.list-news{
			margin-bottom: 7px;
		}
	}
	.hoitruong-content{
		max-width: 1110px;
	}
	
	.list-news {
		margin-bottom: 25px;
	}
	.nav-news{
		.list-news{
			&:nth-last-child(1){
				margin-bottom: 0 !important;
			}
		}
	}
	.hoitruong-content{
		.row{
			.col-md{
				&:nth-child(1){
					.infor-hoitruong{
						min-height: 318px;
					}
				}
			}
		}
	}
	
	.menu-body{
		.menu-content{
			width: 100%;
			margin: auto;
			display: flex;
			max-width: 1120px;
		}
	}
	
	.body-trienlam h1 {
		margin-bottom: 15px;
	}
	.infor-hoitruong h2 a {
		color: white;
		font-size: 21px;
		line-height: 21px;
	}
	.btn-join {
		margin-bottom: 6px;
	}
	.time-hoitruong{
		display: flex;
		justify-content: center;
		span{
			display: initial;
			width: initial;
			margin-top: -3px;
			margin-left: 4px;
				font-size: 18px;
		}
		img{
			width: 16px;
			height: 16px;
		}
	}
	.hoitruong-small .infor-hoitruong h2 a {
		font-size: 18px;
		text-align: left;
		line-height: 19px;
	}
	
.mind-menu {
    height: 65px;
}
.menu-content{
	img{
		&:nth-last-child(1){
			height: 65px;
		}
		&.left-sidebar{
			height: 65px;
		}
	}
	.mind-menu{
		img{
			height: 22px !important;
		}
		a{
			font-size: 13px;
		}
	}
}
.sanhchinh{
	position: fixed;
		left: 45px;
		bottom: 24px;
		top: inherit;
		a{
			text-decoration: none;
			&:hover{
				i, span{
					color: yellow;
				}
			}
		}
	a{
		display: flex;
		width: 110px;
		i{
			margin-top: 3px !important;
		}
		i, span{
			color: white;
			font-size: 16px;
			margin-right: 5px;
		}
	}
}
#hoitruong-lich-ctr .modal-dialog .modal-content {
    padding: 15px;
}
.item-hoitruong-lager.hoitruong-small{
	.time-hoitruong{
		text-align: left !important;
		display: inline-block;
		width: 100%;
		span{
			font-size: 16px !important;
		}
	}
}
#hoitruong-lich-ctr .modal-dialog {
    max-width: 1110px !important;
    width: 100%;
    margin-top: 0;
    background: none;
}
#hoitruong-lich-ctr .scrollbar {
    height: 556px;
}


}




@media only screen and (max-width: 1400px) {
	.container-hoitruong {
		max-width: 991px;
		padding: 40px 20px;
	}
	.content-hoitruong-show .scrollbar {
		height: 297px;
	}
	.body-trienlam .content-trienlam a {
		margin-bottom: 10px;
	}
	.trienlam-slide {
		width: 900px;
	}
	.trienlam-slide {
		width: 840px;
	}
	.body-trienlam .content-trienlam img {
		margin-bottom: 0px !important;
	}
	.body-trienlam .content-trienlam a {
		margin-bottom: 0px !important;
		padding-bottom: 0;
	}
	.body-trienlam .content-trienlam a span {
		font-size: 13px;
	}
	.body-trienlam .content-trienlam {
		margin-top: -38px;
	}
	.body-trienlam{
		button{
			outline: none;
			top: 40% !important;
			background-size: cover !important;
			&.owl-next{
				background: url(../images/next-icon.png) no-repeat center top !important;
				width: 20px;
    			height: 39px;
				position: absolute;
				right: -60px;
				display: inline-block !important;
				background-size: cover !important;
			}
			&.owl-prev{
				background: url(../images/back-icon.png) no-repeat center top !important;
				width: 20px;
    			height: 39px;
				display: inline-block !important;
				position: absolute;
				left: -60px;
				background-size: cover !important;
			}
			span{
				display: none;
			}
		}
	}
	.body-trienlam .content-trienlam img {
		margin-bottom: 10px;
	}
	#lichtrinh .scrollbar {
		height: 256px !important;
	}
	.le-model {
		margin-left: -702px;
		height: 400px;
	}
	.search-popup {
		margin-bottom: 20px;
	}
	.modal .modal-dialog .modal-content {
		border: 0;
		border-radius: 10px !important;
		box-shadow: none;
		padding: 20px;
	}
	.modal .modal-dialog {
		max-width: 840px;
		width: 840px;
	}
	.scrollbar {
		height: 300px;
		width: 100%;
		margin: auto;
		overflow-y: auto;
	}
	.content-editor-trienlam img {
		max-width: 100%;
		margin-bottom: 0;
	}
	.content-editor-trienlam img {
		width: 200px;
	}
	#video-id .content-video iframe {
		width: 711px;
		height: 403px;
	}
	.le-model-right {
		position: fixed;
		bottom: 0;
		height: 400px;
		margin-left:1300px;
	}
	#video-id .modal-dialog {
		max-width: 711px;
		width: 711px;
		background: none !important;
		.modal-content{
			background: none !important;
		}
	}
	.content-video{
		background: none !important;
	}
	#gioithieu-platform .title-popup-sub {
		margin: 0 auto 20px auto;
		max-width: 550px;
	}
	#gioithieu-platform{
		.scrollbar {
			height: 374px;
		}
		.button-back button img {
			width: 70px;
		}
		.button-back {
			position: absolute;
			bottom: -50px;
			width: 100%;
			text-align: center;
			left: 0;
		}
		.modal-dialog .modal-body {
			padding: inherit;
		}
	}
	#tin-tuc-ueh, #letan{
		.modal-content{
			padding:20px 50px;
		}
	}
	#video-id{
		button{
			opacity: 1;
			outline: none;
			text-shadow: none;
			i{
				color: white;
				text-shadow: none;
			}
		}
	}
	#hoitruong-lich-ctr .scrollbar {
		height: 416px;
	}
	#dangnhap .modal-dialog form input, #dangky .modal-dialog form input {
		height: 40px;
	}
	.btn-action {
		height: 50px;
	}
	.signup-box a.signup-btn {
		height: 50px;
	}
	#dangnhap .modal-dialog .content-login, #dangky .modal-dialog .content-login {
		padding: 30px 80px;
	}

	.chatbox {
		position: fixed;
		bottom: 81px;
		right: 20px;
	}
	.chatbox img {
		cursor: pointer;
		width: 70px;
	}
}








@media only screen and (max-width: 1400px) {

	#trienlam, #gioithieu-platform, #lichtrinh{
		.modal-content{
			padding-right: 0px !important;
		}
		.scrollbar, .title-popup, .title-popup-sub, .button-back, .nav.nav-tabs.row, .search-popup-body{
			padding-right: 20px;
		}
	}
	.modal .modal-dialog .modal-content .modal-header button {
		right: 12px;
		top: 12px;
	}



	.modal .modal-dialog {
		max-width: 600px;
		width: 100%;
	}
	.hoitruong-content {
		max-width: 750px;
	}
	.hoitruong-content .row .col-md:nth-child(1) .infor-hoitruong {
		min-height: 234px;
		padding: 15px;
	}
	.hoitruong-small .infor-hoitruong h2 {
		text-align: left;
		font-size: 18px;
	}
	.hoitruong-content .col-md .list-news {
		padding-left: 75px;
		.avatar-lichhtrinh{
			width: 65px;
		}
	}
	.list-chuongtrinh h2 {
		text-transform: uppercase;
		color: #ffd200;
		font-size: 17px;
		margin-bottom: 3px;
	}
	.list-news .infor-lichtrinh .time-lichtrinh label {
		color: #919191;
		font-size: 12px;
		margin-bottom: 0;
	}
	.list-news .infor-lichtrinh a {
		color: #000;
		display: inline-block;
		width: 100%;
		font-size: 12px;
	}
	.hoitruong-content .col-md .list-news{
		.time-lichtrinh{
			img{
				margin-top: 2px !important;
				width: 10px;
				height: 10px;
			}
		}
	}
	.list-news .infor-lichtrinh span {
		font-size: 12px;
	}
	.hoitruong-body .hoitruong-content {
		margin-top: 6px;
	}
	.hoitruong-small .infor-hoitruong {
		padding-bottom: 0 !important;
		padding-top: 0 !important;
	}
	.hoitruong-small label {
		color: #f26f33;
		font-size: 16px;
		display: inline-block;
		width: 100%;
		text-align: left;
		font-style: italic;
		margin: 0;
	}
	.hoitruong-small .avatar-hoitruong a {
		padding-top: 25% !important;
	}
	.btn-join {
		height: 45px;
		font-size: 18px;
	}
	.hoitruong-small .infor-hoitruong h2 a {
		font-size: 16px;
	}
	.hoitruong-content .col-md .list-chuongtrinh {
		margin-top: 7px !important;
		padding: 10px;
	}
	.body-trienlam h1 {
		font-weight: 600;
		font-size: 28px;
	}
	
}


@media only screen and (max-width: 1025px) {
	.switch-box {
		top: 28px;
		right: 286px;
		height: 20px;
	}
	.chatbox {
		bottom: 51px;
		right: 15px;
	}
	.modal-letann-customm .modal-dialog {
		max-width: 530px;
	}
	.modal .modal-dialog {
		max-width: 530px;
	}
	#lichtrinh ul li a {
		height: 40px;
	}
	#lichtrinh ul li a span {
		font-size: 16px;
		padding-top: 2px;
	}
	.hoitruong-body .hoitruong-content {
		margin-top: auto;
	}
	.container-hoitruong {
		max-width: 900px;
		margin: auto !important;
	}
	.sanhchinh {
		left: 15px;
		top: -30px;
	}
	.content-hoitruong-show .scrollbar {
		height: 387px;
	}
	.block-popup .le-model-right {
		margin-left: 470px;
	}
	
}
@media only screen and (max-width: 950px) {
	.switch-box {
		top: 30px;
	}
	.hoitruong-body {
		width: 100%;
		position: fixed;
		height: 100%;
	}
	.block-popup .le-model, .block-popup .le-model-right{
		display: none;
	}
	#lichtrinh .scrollbar {
		height: 500px !important;
	}
	.container-hoitruong {
		max-width: 750px;
	}
	.content-hoitruong-show .scrollbar {
		height: 587px;
	}
	.trienlam-slide {
		width: 600px;
		max-width: 600px;
		
	}
	.body-trienlam .content-trienlam a span {
		font-size: 10px;
	}
	
}
@media only screen and (max-width: 767px) {
.hoitruong-body{
	position: absolute;
	overflow-y: auto;
}
.head-top {
    background: white;
    height: 70px;
}
.head-top .button-sign-in {
    right: 15px;
    top: 19px;
    height: 35px;
    color: #005596;
    border: 1px solid #005596;
    border-radius: 40px;
    padding: 5px 14px;
    background: white;
}
.head-top .logo {
    position: fixed;
    left: 65px;
    top: 18px;
}
#dangnhap .modal-dialog .content-login, #dangky .modal-dialog .content-login {
    padding: 30px 50px;
}
.modal .modal-dialog .modal-content .modal-header button {
    right: 12px;
    top: 12px;
}
.left-sidebar{
	display: none;
}
.mind-menu{
	height: 100%;
    background: #fff;
    display: none!important;
    width: 100%;
    top: 0;
    left: 0;
	position: fixed;
	z-index: 99;
	padding-top: 90px;
	ul{
		display: inline-block !important;
		width: 100%;
		text-align: left;
		li{
			display: inline-block;
			width: 100%;
		}
	}
}
.menu-content{
	display: inline-block !important;
}

.mind-menu nav ul li a {
    width: 100%;
    text-align: left;
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #dfdfdf;
	img{
		margin-right: 10px;
	}
}
.mind-menu nav ul li a span {
    font-size: 15px;
}
#lichtrinh .scrollbar {
    height: 240px !important;
}
#lichtrinh ul li {
    padding: 0 1px !important;
    width: 33.3%;
}
.link-nav ul li a {
    font-size: 14px;
}
#tin-tuc-ueh .modal-content, #letan .modal-content {
    padding: 20px 20px;
}
.mind-menu nav ul li.active{
	background: $brand;
}
.switch-box{
	z-index:999;
}
.mobile-icon{
	display: block;
	position: fixed;
	left: 15px;
	top: 23px;
	i{
		font-size: 20px;
		color: #125e69;
		&.ti-menu{
			display: block;
		}
		&.ti-close{
			display: block;
		}
	}
}
.switch-box {
    top: inherit;
    bottom: 20px;
    right: 10px;
}
.head-top .logo img {
    width: 70px;
}
.trienlam-slide {
    width: 90%;
    max-width: 90%;
}
.content-trienlam{
	.col-md{
		width: 50% !important;
		max-width: 50% !important;
	}
}
.body-trienlam button.owl-prev{
	left:0 !important;
}
.body-trienlam button.owl-next{
	right: 0!important;
}
.head-top .button-sign-in.logined p {
    font-size: 14px;
    color: #125e69;
	margin-top: 9px;
}
.body-trienlam .content-trienlam {
    margin-top: 540px;
    padding: 0;
}
.item-trienlam .row .col-md-trienlam {
    width: 50% !important;
    padding: 5px 10px;
    max-width: 50% !important;
}
.chatbox {
    z-index: 999;
}
.sanhchinh {
    height: 30px;
}
.show-menu{
	.mind-menu{
		display: inline-block !important;
	}
	.switch-box, .chatbox{
		display: none !important;
	}
}
#video-id .modal-dialog {
    max-width: 100%;
    width: 100%;
    background: none !important;
}
#video-id .content-video iframe {
    width: 100%;
    height: 250px;
}
.hoitruong-content .row {
    overflow: hidden;
    margin: 0;
}
.hoitruong-body {
    padding-top: 90px;
}
.hoitruong-small .avatar-hoitruong a {
    padding-top: 45% !important;
	margin-top: 20px;
}
.link-nav ul li {
    margin-top: 15px;
}
#video-id button {
    position: absolute;
    top: -38px !important;
    right: 0px !important;
}
.body-trienlam {
    padding-top: 140px;
}
.container-hoitruong {
    max-width: 100%;
    padding: 20px !important;
	padding-right: 0 !important;
}
.content-hoitruong-show .scrollbar {
    height: 357px;
}
.container-hoitruong h1 {
    font-size: 20px;
}
.button-close {
    right: 20px;
    top: 20px;
}
.button-close i {
    font-size: 20px;
}
#gioithieu-platform .modal-dialog .modal-body {
    padding: 20px 0;
}
.content-hoitruong-show{
	.scrollbar{
		.col-md{
			padding: 0 !important;
		}
	}
}
}